*.jpg
*.png
*.gif
*.svg
*.mp4
*.db

src/*.json
*.xlsx
tests/result_images
tests/test_images
build/*
dist/*

application.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/
