Babel
contourpy
cycler
fonttools
importlib-resources
pytest>=6.2.1
setuptools>=51.3.3
kiwisolver
matplotlib>=3.7.2
numpy
openpyxl
packaging
piexif
Pillow
pyparsing
python-dateutil
six
tkcalendar>=1.6.1
XlsxWriter
zipp
