Babel
contourpy
cycler
fonttools
importlib-resources
kiwisolver
matplotlib>=3.7.2
numpy
openpyxl
pytest>=6.2.1
packaging
piexif
Pillow
pyparsing
python-dateutil
setuptools>=51.3.3
six
tkcalendar>=1.6.1
XlsxWriter
zipp
